body { font: 12px Arial; height: 100%; width: 100%; }

#map { top: 0; left: 0; bottom: 0; right: 0; position: absolute; }
#darkFrame { display: none; top: 0; left: 0; bottom: 0; right: 0; position: fixed; z-index: 50; background: rgba(0,0,0,0.3); }

path {
    stroke: #eee;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick text { fill: #aaa; }

.outputArea { text-align: center; }

#outputArea {
  position: absolute;
  top: 30px; right: 30px;
  padding: 16px;
  width: 232px; min-width: 232px;
  z-index: 300;
  background: rgba(0,0,0,0.4);
}

#graphArea { position: absolute; bottom: 0; left: 0; right: 0; margin: 0; background: rgba(0,0,0,0.5); }

.param, .param div { line-height: 20px; font-size: 16px; line-height: 1.6em; color: white; }
.param { margin-bottom: 16px; }
.paramValue, .paramTitle { display: inline-block; width: 100px;  }
.paramValue { text-align: right; }

#btnDemo { position: absolute; z-index: 1000; left 20px; top: 20px; cursor: pointer; min-width: 100px; text-align: center; font-size: 16px; display: inline-block; margin: 20px; padding: 20px; }
.btn { background: #eee;  }
.btn:hover { color: red; }

.btnStarted { color: #eee; background: #222; }
.btnStarted:hover { color: red; }

#sensor { opacity: 0.5; fill: white; position: absolute; z-index: 500; }
#sensor2 { opacity: 0.5; fill: white; position: absolute; z-index: 500; }
#sensorCore { opacity: 1; fill: white; position: absolute; z-index: 800; }
#sensorArea { display: inline-block; position: absolute; left: 50%; top: 50%; width: 200px; height: 200px; margin-left: -100px; margin-top: -100px; }
#sensorValue { position: absolute; display: inline-block; z-index: 900; top: 0; left: 0; width: 200px; height: 200px; font-size: 16px; line-height: 130px; text-align: center; color: white; font-weight: bold; }
#sensorPoint { position: absolute; display: inline-block; z-index: 400; top: 0; left: 0; width: 200px; height: 200px; font-size: 16px; line-height: 200px; }
